* { box-sizing: border-box; }
a { text-decoration: none; }
p, h3, h2, h1 { margin: 0; }
p { text-align: justify }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top:0;
    z-index: 200;

    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 10vh;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #f2f2f2;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
}

/* ESTILIZAR CONTACTO */

.contacto-localizacion {
    flex: 0 0 35%;
    min-width: 300px;

    margin-top: 170px;
    margin-bottom: 100px;

    position: sticky;
    top: calc(170px + 10vh + 20px);

    /* Posicionar elementos */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contacto-imagen img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contacto-info {
    margin-left: 20px;
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contacto-info p {
    text-align: center;
}

.contacto h2 {
    font-size: 24px;
    margin: 20px 0;
}

/* ESTILIZAR INFORMACIÓN CLASES */

.informacion-clases {
    position: relative;
    background-color: #efefef;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 3;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ESTILIZAR PROMO 5 EUROS */

.promo-info {
    position: sticky;
    top: 100px;
    margin-top: -20px;
    z-index: 100;
}

.promo-info div {
    position: absolute;
    right: -5px;
    width: 100px;
    height: 100px;
    rotate: 15deg;

    background-image: url('imgs/star.png');
    filter: drop-shadow(5px 5px 5px #222);

    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.promo-info .overlay-text {
    position: relative;
    top: 10px;

    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

/* ESTILIZAR CLASES OFERTADAS */

.card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex: 1;
    min-width: calc(max(33.33% - 20px, 100px));
    background: #333;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Las tarjetas grandes tienen el doble de ancho */
.card.big {
    flex: 2;
    min-width: calc(max(33.33% - 20px, 200px));
}

.card-group.twos .card {
    min-width: calc(max(50% - 10px, 250px));
}

.card-group.twos .card.big {
    min-width: 100%;
}

/* Las tarjetas clickable tiene una animación */
a.card {
    transition: transform 0.2s;
}
a.card:hover {
    transform: scale(1.05);
}

/* Estilizar las tarjetas que son clases */
.card.class {
    background-size: cover;
    background-position: center;
    min-height: 200px;
    flex-basis: min-content;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    color: white;
}
.card.class.tall {
    min-height: 400px;
}
.card.class.short {
    min-height: 150px;
}
.card.class h3 {
    margin: 0;
    font-size: 18px;
}

/* Estilizar los botones dentro de las tarjetas */
.card a {
    width: fit-content;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.card a:hover {
    transform: scale(1.05);
}

.card .anchor {
    position: absolute;
    visibility: hidden;
    top: calc(-10vh - 20px);
}

/* Gradiente en la tarjeta para añadir contraste */
.card.class::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.7));
    content: "";
}

/* La clase dark añade un poco más de contraste */
.card.class.dark::after {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
}

/* Mover los contenidos de la tarjeta hacia arriba para que estén encima del gradiente negro */
.card.class * {
    z-index: 1;
}

/* ESTILIZAR OFERTAS ESPECIALES */

.card.offer {
    background: #ffecec;
    text-align: center;
    flex: 1;
}

/* ESTILIZAR TARJETAS CON INFORMACIÓN EXTENDIDA */

.card.horizontal {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.card.horizontal div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ESTILIZAR FORMULARIO */

.anotarse {
    position: relative;
    background-color: #efefef;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    flex: 3;
    max-height: calc(100vh - 10vh - 60px);
    min-width: 300px;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background: #555;
}